body {
   background-color: #2b2a2f;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: sans-serif;
}
h1 {
   text-align: center; 
   font-size: 3rem; 
   margin: 0; 
   padding-bottom: 20px; 
   color: #ffffff;
}
.heading {
   font-size: 36px; 
   font-weight: bold;
   text-align: center;
   color: white;
   position: relative;
   margin-top: 40px;
}
.heading::after {
   content: "";
   display: block;
   width: 200px; 
   height: 4px; 
   background-color: #787cb5; 
   margin: 10px auto 0; 
   border-radius: 2px;
}
.card-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 100px;
}
.card{
   width: 325px;
   background-color: #f4f4f4;
   border-radius: 10px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover{
   transform: translateY(-20px);
}
.card img{
   width: 100%;
   height: auto;
   object-fit: cover;
}
.card-content{
   padding: 20px;
}
.card-content h1{
   font-size: 24px;
   margin-bottom: 10px;
   color: black;
}
.card-content p{
   font-size: 14px;
   color: #666;
   margin-bottom: 20px;
}
.card-button{
   display: inline-block;
   background-color: #3498db;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   padding: 8px 16px;
}

   