body{
   background-color: #2b2a2f;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
.input{
   display: none;
}
.container{
   width: 100%;
   text-align: center;
}
h1{
   font-weight: normal;
   font-size: 45px;
   position: relative;
   margin: 40px 0;
   color: white;
}
h1::before{
   content: '';
   position: absolute;
   width: 100px;
   height: 3px;
   background-color: crimson;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
   animation: animate 4s linear infinite;
} 
@keyframes animate{
   0%{
      width: 100px;
   }
   50%{
      width: 200px;
   }
   100%{
      width: 100px;
   }
}
.top-content{
   background-color: rgb(243, 243, 243);
   width: 90%;
   margin: 0 auto 20px auto;
   height: 60px;
   display: flex;
   align-items: center;
   border-radius: 5px;
   box-shadow: 3px 3px 5px lightgray;
}
h3{
   height: 100%;
   background-color: rgb(221, 221, 221);
   line-height: 60px;
   padding: 0 50px;
   color: white;
}
label{
   display: inline-block;
   height: 100%;
   padding: 0 5px;
   margin: 0 30px;
   line-height: 60px;
   font-size: 18px;
   color: gray;
   cursor: pointer;
   transition: .5s;
   background-color: #d9d9d9;
   box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), inset -3px -3px 5px rgba(255, 255, 255, 0.7);
   border-radius: 5px;
}
label:hover{
   color: black;
   box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3), inset -2px -2px 3px rgba(255, 255, 255, 0.8);
}
label:active{
   box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), inset -1px -1px 2px rgba(255, 255, 255, 0.9);
   background-color: #bfbfbf;
}
.photo-gallery{
   width: 90%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
}
.pic{
   position: relative;
   height: 230px;
   border-radius: 10px;
   box-shadow: 3px 3px 5px lightgray;
   cursor: pointer;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
.pic img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   transition: .5s;
}
.pic::before{
   content: "PHOTO GALLERY";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 22px;
   font-weight: bold;
   width: 100%;
   margin-top: -100px;
   opacity: 0;
   transition: .3s;
   transition-delay: .2s;
   z-index: 1;
}
.pic::after{
   content: "";
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   border-radius: 10px;
   height: 0;
   background-color: rgba(0,0,0,.4);
   transition: .3s;
}
.pic:hover::after{
   height: 100%;
}
.pic:hover::before{
   margin-top: 0;
   opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
   opacity: 1;
   transform: scale(1);
   position: relative;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check2:checked ~ .container .photo-gallery .family{
   transform: scale(1);
   opacity: 1;
   position: relative;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check2:checked ~ .container .photo-gallery .child,
#check2:checked ~ .container .photo-gallery .group.members{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check3:checked ~ .container .photo-gallery .child{
   transform: scale(1);
   opacity: 1;
   position: relative;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .group.members{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check4:checked ~ .container .photo-gallery .group.members{
   transform: scale(1);
   opacity: 1;
   position: relative;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
#check4:checked ~ .container .photo-gallery .family,
#check4:checked ~ .container .photo-gallery .child{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: opacity 0.5s ease, transform 0.5s ease;
}
